*,
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body{
    background-image: url('59276.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
.atas{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.navigasi{
    position: fixed;
    top: 0;
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.balik_home{
    text-decoration: none;
}

.nama{
    font-size: 50px;
    color: white;
    margin-left: 50px;
}


.ul_nav{
    list-style: none;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    gap: 20px;

}
.tulisan_home{
    text-decoration: none;
    color:white;
}
.tulisan_about{
    text-decoration: none;
    color:white;
}
.tulisan_project{
    text-decoration: none;
    color: white;
}
.dropdown{
    font-size: 25px;
}
.dropdown_contact:hover{
    background-color: black;
    transition: .2s ease-in-out;

}
.dropdown_contact{
    text-decoration: none;
    color:white;
    padding: 10px;
    border-radius: 2px;

}
.dropdown-menu{
    display: none;
    position: absolute;
    list-style: none;
    background-color: black;
    border: 2px solid white;
    width: 180px;
    margin-top: 10px;

    
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu li{
    padding: 2px;
    text-align: center;
}

.dropdown-menu li a{
    text-decoration: none;
    color: white;
    display: block;
    background-color: transparent;
    transition: background-color 0.3s ease;
    
}
.dropdown-menu li a.wa{
    padding: 15px;
}
.dropdown-menu li a.gmail{
    padding: 15px;
}
.dropdown-menu li a.wa:hover {
    background-color: #25D366;  /* Warna latar belakang hijau khas WhatsApp */
    color: black;  /* Warna teks tetap putih saat hover */
}
.dropdown-menu li a.gmail:hover {
    background-color: white;  /* Warna latar belakang hijau khas WhatsApp */
    color: black;  /* Warna teks tetap putih saat hover */
}
.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid white;
}


.li_nav{
    
    justify-content: center;
    list-style-type: none;
    font-size: 25px;
    color: white;
    border-radius: 2px;

    
}
.li_nav:hover{
    background-color: white;
    transition: .2s ease-in-out;
}
.li_nav a{
    display: block;
    color:white;
    padding: 30px;

}
.li_nav a.tulisan_home:hover{
    color: black;
}
.li_nav a.tulisan_about:hover{
    color: black;
}
.li_nav a.tulisan_project:hover{
    color: black;
}

.content{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 50px;


}

.imgContent{
    width: 20%;
    padding-left: 200px;
    opacity: 0;
    transform: translateX(-100px);
    animation: slideright 1s ease-in-out forwards;
    display: block;
    margin-right: 20%;

}

@keyframes slideright{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome{
    text-align: right;
    padding-top: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    opacity: 0;
    transform: translateX(100px);
    animation: slideLeft 1s ease-in-out forwards;
    display: block;
}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.hi{
    display: flex-end;
    font-size: 40px;

}
.saya{
    display: flex;
    font-size: 40px;
}
.content2{
    background-color: rgba(4, 125, 158, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.imgContent2{
    width: 7%;
    transform: translateY(-108px);
}
.fade{
    color: white;
    font-size: 50px;
    transform: translateY(-110px);
    opacity: 10%;
    font-family: "Raleway",  sans-serif;
    font-weight: bold;
    
}
.tentangsaya{
    transform: translateY(-150px);
    color: black;
    font-family: "Raleway",  sans-serif;
    font-size: 40px;
}



.zoom-effect {
    opacity: 0;
    transform: scale(0.5);
    animation: zoom-in 0.5s ease-in-out forwards;
}


@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.text{
    white-space: pre-line;
    text-align: center;
    font-size: 20px;
}
.aboutme{
    transform: translateY(-10px);
    color: white;
    font-size: 20px;
}



.content3{
    background-color: rgba(25, 46, 5, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    position: relative;


}
.project{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    transform: translateY(-30%);
    font-size: 40px;
}
.imgContent3{
    padding-left: 500px;
    margin-bottom: 5%;
    width: 20%;
    opacity: 0;
    transform: translateX(-100px);
    animation: slideleft 1.5s ease-in-out forwards;
    display: block;
}

@keyframes slideleft{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }100%{
        opacity: 1;
        transform: translateX(0);
    }
}




.footer {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-right: 70%;
    
}

.imgFooter{
    height: 20px;
    width: auto;
}
.footerinfo{
    color: aliceblue;
    font-size: 10px;
    padding: 2px;
}

